@using Parkner.Data.Entities

<table class="table table-centered table-striped display w-100">
    <thead class="thead-light">
        <tr>
            <th>Nombre</th>
            <th>Disponible</th>
            <th style="width: 125px;">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @if (Cajones?.Count > 0)
        {
            @foreach (Cajon cajon in Cajones)
            {
                <tr>
                    <td>@cajon.Nombre</td>
                    <td>@(cajon.Disponible ? "Sí" : "No")</td>
                    <td>
                        <a href="@($"/responsables/estacionamientos/cajones/ver/{cajon.Id}")" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                        <a href="@($"/responsables/estacionamientos/cajones/editar/{cajon.Id}")" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                        <a href="@($"/responsables/estacionamientos/cajones/borrar/{cajon.Id}")" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
